PrintDirect n8n Github.json
{
  "name": "PrintDirect – Automatische Bestellerfassung",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {
          "downloadAttachments": true
        }
      },
      "id": "a0211656-4ffa-4d7b-8407-91096bb19009",
      "name": "Gmail – Neue E-Mail",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [
        -1600,
        16
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "mI4eQBHarYEAXb0z",
          "name": "GRK Account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "printdirect-bestellung",
        "options": {}
      },
      "id": "d3a8d06a-e8d3-42ec-812b-e9a23dc7a640",
      "name": "Webhook – Test-Mail",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1600,
        496
      ],
      "webhookId": "c2dd3f72-b9c2-4eb2-b327-92f1b5b69727"
    },
    {
      "parameters": {
        "jsCode": "const j = $input.first().json;\n\n// Gmail uses capitalized headers (Subject, From), Webhook uses lowercase\nconst subject = j.Subject ?? j.subject ?? j.body?.subject ?? '';\nconst from = j.From ?? j.from ?? j.body?.from ?? '';\n\n// Try to get full email body from multiple possible locations\nlet emailBody = j.text ?? j.body?.text ?? '';\n\n// Gmail: try to decode text/plain from payload parts\nif (!emailBody && j.payload?.parts) {\n  const findTextPart = (parts) => {\n    for (const part of parts) {\n      if (part.mimeType === 'text/plain' && part.body?.data) return part.body.data;\n      if (part.parts) { const found = findTextPart(part.parts); if (found) return found; }\n    }\n    return null;\n  };\n  const b64 = findTextPart(j.payload.parts);\n  if (b64) {\n    try { emailBody = Buffer.from(b64, 'base64url').toString('utf-8'); } catch(e) {}\n  }\n}\n\n// Gmail: fallback to snippet (short preview ~200 chars)\nif (!emailBody) emailBody = j.snippet ?? '';\n\n// Parse internalDate (Unix ms timestamp) to DD.MM.YYYY\nlet date = j.date ?? j.body?.date ?? '';\nif (!date && j.internalDate) {\n  const d = new Date(parseInt(j.internalDate));\n  date = `${String(d.getDate()).padStart(2,'0')}.${String(d.getMonth()+1).padStart(2,'0')}.${d.getFullYear()}`;\n}\nif (!date) date = new Date().toISOString();\n\n// Remove 'text' so Extract from File can safely use it for PDF content\nconst out = { ...j };\ndelete out.text;\nout._email_subject = subject;\nout._email_from = from;\nout._email_body = emailBody;\nout._email_date = date;\n\nreturn [{ json: out }];"
      },
      "id": "8697e855-8be6-49c1-9618-f53410ad8805",
      "name": "E-Mail Text sichern",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        96
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "=attachment_0",
        "options": {}
      },
      "id": "345083fd-a673-4cb6-b9fd-93824fb8a1bf",
      "name": "PDF extrahieren",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1344,
        96
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Get email fields directly from 'E-Mail Text sichern' (bypasses PDF error)\nconst emailData = $(\"E-Mail Text sichern\").first().json;\n\n// Get PDF text only if extraction succeeded (no error in input)\nconst j = $input.first().json;\nconst pdfText = (!j.error && j.text) ? j.text : '';\n\nconst sep = '\\n\\n--- PDF Anhang ---\\n';\nconst body = emailData._email_body ?? '';\nconst fullText = body + (pdfText ? sep + pdfText : '');\n\nreturn [{ json: {\n  subject: emailData._email_subject ?? '',\n  from: emailData._email_from ?? '',\n  text: fullText,\n  date: emailData._email_date ?? new Date().toISOString(),\n  has_pdf: !!pdfText\n}}];\n"
      },
      "id": "7b9bfd94-ac9e-4f41-abb3-66f5e95eae41",
      "name": "E-Mail + PDF aufbereiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -928,
        112
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\nInhalt Email:\n{{ $json.text }}\n\nInahlt Anhang: {{ $('PDF extrahieren').item.json.text }}",
        "options": {
          "systemMessage": "Du bist ein E-Mail-Klassifizierer für PrintDirect GmbH, eine Merchandise- und Werbeartikel-Firma mit drei Produktkategorien: Textilien (T-Shirts, Hoodies, Caps), Werbematerial (Rollups, Banner, Aufsteller) und Geschenkartikel (Kugelschreiber, Tassen, Schlüsselanhänger).\n\nDeine Aufgabe: Analysiere die eingehende E-Mail (inkl. allfälligem PDF-Inhalt) und entscheide, ob es sich um eine Bestellung oder Produktanfrage handelt.\n\nEine Bestellung liegt vor, wenn jemand konkret Produkte bestellen oder anfragen möchte.\nKeine Bestellung sind: allgemeine Fragen, Reklamationen, Bewerbungen, Spam etc.\n\nAntworte IMMER NUR mit folgendem JSON-Objekt, ohne zusätzlichen Text:\n{\n  \"ist_bestellung\": true,\n  \"begruendung\": \"Kurze Begründung\"\n}"
        }
      },
      "id": "75befe4a-549e-45fa-b3ba-2a51d861fa98",
      "name": "AI Agent – Bestellung erkennen",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -736,
        112
      ]
    },
    {
      "parameters": {
        "model": "gpt-5",
        "options": {}
      },
      "id": "0abbfe05-c68b-4960-ab2b-0dcf8e1075f4",
      "name": "OpenAI – Klassifizierer",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -688,
        288
      ],
      "credentials": {
        "openAiApi": {
          "id": "lUbPbS0u9qmE3bbS",
          "name": "Gianni Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output;\nlet cleaned = raw;\nif (raw.includes('```')) {\n  cleaned = raw.replace(/```json\\n?/g, '').replace(/```\\n?/g, '');\n}\nconst result = JSON.parse(cleaned.trim());\nreturn [{ json: { ...result, original_email: $('E-Mail + PDF aufbereiten').first().json } }];"
      },
      "id": "4e6b9a93-d039-4ad6-9bad-ea454839c25c",
      "name": "JSON parsen – Bestellung?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.ist_bestellung }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3105c49e-189d-4318-8ef7-8b0afac8c78d",
      "name": "Ist Bestellung?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -240,
        112
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Betreff: {{ $json.original_email.subject }}\nVon: {{ $json.original_email.from }}\nEingangsdatum: {{ $json.original_email.date }}\nInhalt (E-Mail + allfälliger PDF-Anhang):\n{{ $json.original_email.text }}",
        "options": {
          "systemMessage": "Du bist ein präziser Datenextraktor für PrintDirect GmbH, eine Merchandise- und Werbeartikel-Firma.\n\nExtrahiere alle relevanten Bestellinformationen aus dem E-Mail-Inhalt (und allfälligem PDF-Anhang) und gib sie als strukturiertes JSON zurück.\n\nKategorien:\n- Textilien: T-Shirts, Hoodies, Caps, Jacken, Poloshirts\n- Werbematerial: Rollups, Banner, Aufsteller, Displays, Fahnen\n- Geschenkartikel: Kugelschreiber, Tassen, Feuerzeuge, Schlüsselanhänger, Notizbücher\n\nExtraktionsregeln:\n- datum: Heutiges Datum (Eingang), Format DD.MM.YYYY\n- firma: Firmenname aus Signatur oder Absender (mit AG/GmbH etc.)\n- kontakt: Vor- und Nachname, nur Vorname wenn kein Nachname erkennbar\n- email_telefon: E-Mail bevorzugen, sonst Telefonnummer, sonst \"-\"\n- kategorie: Exakt eine der 3 Kategorien (bei Mischbestellungen: Hauptkategorie nach Menge)\n- artikel: Alle Artikel mit Details (Grössen, Farben, Masse), durch Komma getrennt\n- menge: Stückzahlen pro Artikel, durch \" / \" getrennt, gleiche Reihenfolge wie Artikel\n- deadline: Konkretes Datum DD.MM.YYYY, oder relativer Text (z.B. \"Ende Monat\"), oder \"Offen\"\n- budget: Betrag mit Währung im Schweizer Format (z.B. 2'500 CHF), oder \"-\" wenn keins genannt\n\n----\n#firmenname und email\n\nEin zusätzlicher wichtiger Punkt: Da ich das von meiner eigenen E-Mail aus sende als ein Test, bitte nimm den Kundennamen aus dem E-Mail-Body, aus der Signatur, aber nimm es nicht aus der offiziellen E-Mail-Adresse. Die Firma wird nicht ProWeb Solutions heißen, weil das ist meine eigene Firma. Beachte, dass du immer den anderen Firmennamen nimmst.\n\n----\n\nAntworte IMMER NUR mit folgendem JSON-Objekt, ohne zusätzlichen Text:\n{\n  \"datum\": \"\",\n  \"firma\": \"\",\n  \"kontakt\": \"\",\n  \"email_telefon\": \"\",\n  \"kategorie\": \"\",\n  \"artikel\": \"\",\n  \"menge\": \"\",\n  \"deadline\": \"\",\n  \"budget\": \"\"\n}"
        }
      },
      "id": "d5b8976d-c911-47cc-8269-65a87dd5792b",
      "name": "AI Agent – Daten extrahieren",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "id": "cf2e953a-f7de-4ae8-be52-360162f6f7de",
      "name": "OpenAI – Extraktor",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -16,
        224
      ],
      "credentials": {
        "openAiApi": {
          "id": "lUbPbS0u9qmE3bbS",
          "name": "Gianni Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output;\nlet cleaned = raw;\nif (raw.includes('```')) {\n  cleaned = raw.replace(/```json\\n?/g, '').replace(/```\\n?/g, '');\n}\nconst data = JSON.parse(cleaned.trim());\nreturn [{ json: data }];"
      },
      "id": "f7f06106-1b46-4c51-9716-0a8aa86214e8",
      "name": "JSON parsen – Bestelldaten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\n\nconst hexToRgb = (hex) => ({\n  red:   parseInt(hex.slice(1,3), 16) / 255,\n  green: parseInt(hex.slice(3,5), 16) / 255,\n  blue:  parseInt(hex.slice(5,7), 16) / 255\n});\n\nconst COLORS = {\n  \"Textilien\":       hexToRgb(\"#1ED6A8\"),\n  \"Werbematerial\":   hexToRgb(\"#F5A623\"),\n  \"Geschenkartikel\": hexToRgb(\"#FF4D6D\")\n};\n\nconst color = COLORS[d.kategorie] || { red: 1, green: 1, blue: 1 };\nconst cell = (val) => ({ userEnteredValue: { stringValue: String(val ?? '') } });\nconst coloredCell = (val, c) => ({\n  userEnteredValue: { stringValue: String(val ?? '') },\n  userEnteredFormat: { backgroundColor: c }\n});\n\nconst payload = {\n  requests: [{\n    appendCells: {\n      sheetId: 0,\n      rows: [{ values: [\n        cell(d.datum),\n        cell(d.firma),\n        cell(d.kontakt),\n        cell(d.email_telefon),\n        coloredCell(d.kategorie, color),\n        cell(d.artikel),\n        cell(d.menge),\n        cell(d.deadline),\n        cell(d.budget)\n      ]}],\n      fields: \"userEnteredValue,userEnteredFormat.backgroundColor\"\n    }\n  }]\n};\n\nreturn [{ json: payload }];"
      },
      "id": "187e68a9-5d6e-4fc9-9cc8-7011470cfc8d",
      "name": "Sheets Payload mit Farbe",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "fec9ab4d-b028-49fe-957e-1465fae0eb4b",
      "name": "Google Sheets API – Zeile + Farbe",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        656,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lFUTGoFDof3txzqR",
          "name": "info@PWS connection"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail – Neue E-Mail": {
      "main": [
        [
          {
            "node": "PDF extrahieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "E-Mail Text sichern": {
      "main": [
        [
          {
            "node": "E-Mail + PDF aufbereiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF extrahieren": {
      "main": [
        [
          {
            "node": "E-Mail Text sichern",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "E-Mail + PDF aufbereiten": {
      "main": [
        [
          {
            "node": "AI Agent – Bestellung erkennen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI – Klassifizierer": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent – Bestellung erkennen",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent – Bestellung erkennen": {
      "main": [
        [
          {
            "node": "JSON parsen – Bestellung?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON parsen – Bestellung?": {
      "main": [
        [
          {
            "node": "Ist Bestellung?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ist Bestellung?": {
      "main": [
        [
          {
            "node": "AI Agent – Daten extrahieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI – Extraktor": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent – Daten extrahieren",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent – Daten extrahieren": {
      "main": [
        [
          {
            "node": "JSON parsen – Bestelldaten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON parsen – Bestelldaten": {
      "main": [
        [
          {
            "node": "Sheets Payload mit Farbe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets Payload mit Farbe": {
      "main": [
        [
          {
            "node": "Google Sheets API – Zeile + Farbe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d77daa96-9279-45e0-adba-0471e965d1ee",
  "meta": {
    "instanceId": "0889ab038d463992a2894e4d006cb2792129dedb2b4beb2a5083f74d781fa524"
  },
  "id": "TPkwaT0arhE3fWQA",
  "tags": []
}